:root {
    --main-color: #21325E;
    --secondary-color: #3E497A;
    --decoration-color: #F1D00A;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
    background-color: rgba(124, 122, 122, 0.31);
}

.bar {
    height: 80px;
    background: var(--main-color);
    transition: 0.5s;
    color: #F0F0F0;
}

a {
    color: #F0F0F0;
    font-size: large;
}

a:hover {
    text-decoration-color: var(--decoration-color);
}


.miniProfile {
    height: 50px;
    gap: 5px;
    padding: 5px;
    border: solid 1px var(--decoration-color);
    border-radius: 5px;
}

.miniProfile > img {
    height: 100%;
    border-radius: 50%;

}

form {
    background-color: rgba(240, 240, 240, 0.7);
    width: 40%;
    box-shadow: 0 0 3px 0 var(--decoration-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
}

form > input, select {
    font-size: 25px;
    background-color: rgba(124, 122, 122, 0.31);
    border: none;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
}

form > input:focus {
    outline-color: var(--decoration-color);
}

.userCard {
    background-color: rgba(240, 240, 240, 0.7);
    border: solid 1px var(--decoration-color);
    padding: 5px;
    text-align: center;
    min-width: 300px;
}

.userCard img {
    width: 100%;
    border-radius: 50%;
}

.userCard textarea {
    padding: 5px;
    background-color: rgba(124, 122, 122, 0.31);
}

.userInfo{
    width: 60%;
    height: 600px;
}

.userInfo img{
    height: 60%;
}

.bidHistory {
    background-color: rgba(240, 240, 240, 0.7);
    text-align: center;
    overflow-y: scroll;
}

.userAuctions {
    height: 500px;
    overflow-y: scroll;
    width: 50%;
    border: solid 1px var(--decoration-color);
    padding: 5px;
    margin: 10px;
    background-color: #F0F0F0;
}

.miniAuctionItem {
    height: 200px;
    width: 90%;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0 0 2px 0 black;
}

.miniAuctionItem > img {
    height: 100%;
    width: 40%;
    margin-right: 10px;
}

.auctionBig {
    text-align: center;
    width: 70%;
    box-shadow: 0 0 3px 0 var(--decoration-color);
    background-color: rgba(240, 240, 240, 0.7);
}

.auctionBig > img {
    width: 50%;
    margin: 10px;
    border-radius: 10px;
}

.auctionBig > div {
    margin: 10px;
    text-align: center;
}

.auctionBig span{
    color: red;
}

.bidItem{
    padding: 5px;
    width: 80%;
    background-color: rgba(240, 240, 240, 0.7);
    box-shadow: 0 0 3px 0 var(--decoration-color);
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow1 {
    flex: 1;
}

.flex-grow2 {
    flex: 2;
}

.flex-grow3 {
    flex: 3;
}
